<div ng-controller="PatientCommonController">
    <legend class="registraion_legend" ng-if="::addressLevels.length>0">
        <span class="mylegend"> {{ ::'REGISTRATION_LABLE_REG_FEE_INFO' | translate}}</span>
    </legend>
    <section class="form-field-inline clearfix">
        <article class="form-field">
            <div class="field-attribute">
            <label class="control-label" style="color: brown; font-family: 'Times New Roman', Times, serif;" >{{::'REGISTRATION_LABEL_PAYMENT_STATUS' | translate}}  </label>
            </div>
            <div class="field-value">
                <span class="uneditable-input text-only">{{patient.paymentStatus.value}}</span>
           </div>
    </section>
    <section class="form-field-inline clearfix">
        <article class="form-field">
            <div class="field-attribute">
            <label class="control-label" style="color: brown; font-family: 'Times New Roman', Times, serif;">{{::'REGISTRATION_LABEL_PAID_AMOUNT' | translate}}  </label>
            </div>
            <div class="field-value">
                <span class="uneditable-input text-only">{{patient.registrationFee}}</span>
           </div>
    </article>
    </section>
</div>